.fancybox__caption {
  color: var(--clr-black) !important;
  font-family: "mainLight" !important;
  font-size: 1rem;
}
.fancybox__backdrop {
  background-color: rgba(255,255,255, 0.98) !important; /* <<-- this one  */
}
.fancybox__spinner {
  color: var(--clr-black) !important; 
}