@font-face {
  font-family: "mainRegular";
  src: url("../assets/fonts/basis-grotesque-pro-cufonfonts/BasisGrotesquePro-Regular.ttf") format('truetype');
  font-display: swap;
}
@font-face {
  font-family: "mainBold";
  src: url("../assets/fonts/basis-grotesque-pro-cufonfonts/BasisGrotesquePro-Bold.ttf") format('truetype');
  font-display: swap;
}
@font-face {
  font-family: "mainLight";
  src: url("../assets/fonts/basis-grotesque-pro-cufonfonts/BasisGrotesquePro-Light.ttf") format('truetype');
  font-display: swap;
}
