:root {
  --clr-acc-green: #929979;
  --clr-bg-white: #fff;
  --clr-black: #000;
  --clr-bg-light: #3b3b3b;
  --clr-bg-dark: #242424;
  --clr-acc-orange: #ff7600;
}

@font-face {
  font-family: "mainRegular";
  src: url("../assets/NyHemsida2022/basis-grotesque-pro-cufonfonts/BasisGrotesquePro-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "mainBold";
  src: url("../assets/NyHemsida2022/basis-grotesque-pro-cufonfonts/BasisGrotesquePro-Bold.ttf") format('truetype');
}
@font-face {
  font-family: "mainLight";
  src: url("../assets/NyHemsida2022/basis-grotesque-pro-cufonfonts/BasisGrotesquePro-Light.ttf") format('truetype');
}

.work-wrapper {
  max-width: 1024px;
}
.project-name {
  font-family: "mainBold";
}
hr {
  opacity: 0.5;
}
/* on big screens */
.work__grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* .work-list-items:first-child {
  height: 15rem;
} */
.work-list-items:nth-child(even) {
  color: pink;
}
.work-list-items {
  display: flex;
  gap: 1rem;
  overflow: hidden;
}
.work-item-img {
  overflow: hidden;
  height: 20rem;
}
.work-item-img img {
  width: 100%;
}
.work-item-description {
  font-size: 0.8rem
}

/* on small screens */