.project-wrapper {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
.work-item-description {
  margin-top: 1rem
}
.work-item-description p, .project-wrapper h5 {
  font-family: "mainLight";
  font-size: var(--body-font-size-xsmall);
  letter-spacing: 0.8px;
  margin: .2rem 0;
}
b {
  font-family: "mainBold";
}
.itemImagesContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow {
  cursor: pointer;
  color: var(--clr-bg-light);
  opacity: 0.1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  height: 90%;
}
.bi-caret-left, .bi-caret-right {
  visibility: hidden;
  transition: visable 350ms;
}
#prevBtn:hover .bi-caret-left {
  background-color: var(--clr-bg-white);
  border-radius: 10px;
  visibility: visible;
}
#nextBtn:hover .bi-caret-right {
  background-color: var(--clr-bg-white);
  border-radius: 10px;
  visibility: visible;
}
.icon-back {
  color: var(--clr-bg-light);
  font-size: 1rem;
}
.bi-arrow-return-left {
  padding: 0.2rem;
  padding-left: 0;
}
.prev {
  position: absolute;
  left: 0;
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
.next {
  position: absolute;
  right: 0;
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

#back-btn {
  cursor: pointer;
  margin-top: 1rem;
}
#back-btn:hover .icon-back {
  color: rgb(153, 153, 153);
  transition: ease 150ms;
}
.redirect:hover {
  color: rgb(153, 153, 153);
  transition: ease 150ms;
}

/* on big screens */
@media (min-width: 45em) {
  .project-wrapper{
    gap: 1rem;
    display: block;
  }
  .carouselContainer {
    display: flex;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
  }
  .carouselContainer img {
    transition: all 1s ease-in-out;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    object-fit: contain;
  }
  .itemImagesContainer {
    height: 50vh;
  }

  .icon-back {
    margin: 1rem 0;
  }
}

@media (max-width: 45em) {
  .carouselContainer{
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .carouselContainer img {
    width: 100%;
  }
  .work-item-description {
    margin: 1rem 0.2rem 0 0.2rem
  }

}