.project-name {
  font-family: "mainBold";
}
hr {
  opacity: 0.5;
  margin: 1rem 0rem 1rem 0rem;
  width: 40%;
}
.work-wrapper {
  width: 100%;
  margin-right: 20rem;
}
.work-item {
  position: relative;
  height: 5rem;
  overflow: hidden;
}
/* .work-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0,0, 0.4);
  opacity: 0;
  transition: .3s ease;
} */

.work-item-description {
  font-size: 0.8rem;
}

/* on big screens */
@media (min-width: 45em) {
  
}

/* on small screens */
@media (max-width: 45em) {
  .primary-header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    transition: top 400ms;
    background-color: var(--clr-bg-white);
    z-index: 2000;
  }
}