.work-items-body {
  width: 100%;
}
.workItem-wrapper {
  width: 100%;
}
.project-wrapper {
  width: 100%;
  margin-bottom: 2rem;
}
.work-item-description {
  margin: .5rem;
}
.work-item-description h5 {
  letter-spacing: 0.05rem;
  margin-bottom: .5rem;
}
.work-item-description p {
  font-family: "mainLight";
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  margin: .8rem 0;
}
.itemImagesContainer img {
  width: 100%;
  
}
.lg-image-container {
  /* height: 24rem; */
  overflow: hidden;

}
.lg-image-container img {
  width: 100%;
  height: 100%;
}
.thumbs {
  margin: 1rem .5rem;
  display: flex;
  flex-wrap: wrap;
  gap: .2rem;
}
.thumbs img {
  width: 5rem;
  height: 4rem;
}
.icon-back {
  color: var(--clr-bg-light);
  font-size: 1rem;
}

/* on big screens */
@media (min-width: 45em) {
  .itemImagesContainer {
    height: 100vh;
  }
  .workItemContainer{
    gap: 1rem;
  }
  .work-item-description {
    margin: 0;
  }
  .thumbs {
    margin: 1.2rem 0;
  }
  .lg-image-container {
    height: auto;
  }
  .icon-back {
    margin: 1rem 0;
  }
}